{% extends 'base.html.twig' %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>Label</th>
			</tr>
		</thead>
		<tbody>
			{% for seat in seats %}
    			<tr>
    				<td>{{ seat.getLabel() }}</td>
    			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
